%h1 Welcome
%h4
  You are probably here in error, and looking for our 
  = link_to("main page.", "http://lightningrobotics.com")
  It can be found at 
  = link_to("http://lightningrobotics.com", "http://lightningrobotics.com")
  or by clicking on the 
  = link_to("FRC862", "http://lightningrobotics.com")
  logo in the top left corner of this screen.

%p
  If you are here to checkin for build season hour tracking, 
  you need to get someone from student leadership (i.e. Smit)
  to sign in to the system first.

%h3 Give me an AAAAAA!!!
