-# Links for current user.
.navbar-text.pull-right
  = icon_tag "user"
  - if current_admin 
    %strong= current_admin.try(:email)
    = link_to "Sign Out", destroy_admin_session_path, method: :delete
  - else
    = link_to "Sign In", new_admin_session_path
